Loteria/LoteriaNacionalCR/Service References/LoteriaWebService/LoteriaNacional1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30860/LoteriaNacional.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
  <xs:element name="TipoCambio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoCambioResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSorteo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="oSorteo" nillable="true" type="q1:Sorteo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSorteoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>