Loteria/LoteriaNacionalCR/Service References/LoteriaWebService/LoteriaNacional.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccesoDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccesoDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Sorteo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Premio" nillable="true" type="tns:ArrayOfPremio" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sorteo" nillable="true" type="tns:Sorteo" />
  <xs:complexType name="ArrayOfPremio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Premio" nillable="true" type="tns:Premio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPremio" nillable="true" type="tns:ArrayOfPremio" />
  <xs:complexType name="Premio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sorteo1" nillable="true" type="tns:Sorteo" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="importancia" type="xs:int" />
      <xs:element minOccurs="0" name="monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="numero" type="xs:int" />
      <xs:element minOccurs="0" name="sorteo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Premio" nillable="true" type="tns:Premio" />
</xs:schema>